


body {
    width:auto;
    height: auto;
    margin:0; 
    color: #293462;
    background-color: #69bef3;
    font-family:Georgia, 'Times New Roman', Times, serif
}

/* Header/logo */
.header {
  height: 350px;
  width: auto;
  background-color: white;
  position: relative;
  text-align: center;
  padding: 20px;
  margin-bottom: auto;
}


#logo {
  position: relative;
  top:-40px;
  height: 350px;
  width: 300px;
  z-index: 3;
}



#offersTable{
position: relative;
margin: auto;
margin-top: 120px;

}

.tableHeading {
position: relative;
background: #293462;
color: white;

}

/* babysitters' table */
#offersB {
    position: relative;
    text-align:center;
    background: white;
    margin-bottom: 200px;
}

/* parents' table */
#offersP {
    position: relative;
    background: white;
    margin-bottom: 200px;
}


#button {
    position:relative;
}



.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }



  .requestDetails{
    display: none;
    background-color: white;
    border-radius: 25px;
    padding: 10px;
  }

  .requestNum:hover .requestDetails{
    display: block;
  }


  .babysitterProfile{
    padding: 2px 16px;
  }

  .babysitterProfile{
    display: none;
    background-color: white;
    border-radius: 25px;
    padding: 10px;
  }

  .babysitterPic:hover .babysitterProfile{
    display: block;
  }

  .detailsBox{
    display: none;
    background-color: white;
    border-radius: 25px;
    padding: 10px;
  }

  .details:hover .detailsBox{
    display: block;
  }



/* change the color when hover src:w3s*/
tr:hover {background-color: #d1e7f8;} 
#firstRow:hover {
    background-color:whitesmoke
    
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #293462;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

/* src:w3s*/
.danger {
  background-color: #ffdddd;
  border-left: 6px solid #f44336;
}

#info {
  color: #111;
  background-color: #e7f3fe;
  border-left: 6px solid #2196F3;
}

.footer{
  padding: 20px;
  background-color: white;
  margin-bottom: 0;
  text-align: center;
  text-decoration: none; 
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
}


  
 




