


body {
    width:100%;
    height: auto;
    margin:0; 
    color: #293462;
    
    background-image:url(homepic2.svg);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    background-position: center;
    font-family:Georgia, 'Times New Roman', Times, serif
}

/* Header/logo */
.header {
  height: 350px;
  width: auto;
  position: relative;
  text-align: center;
  padding: 20px;
  margin-bottom: auto;
  background: #eafcfa;
}


#logo {
  float: left;
  width: 100px;
  height: 100px;
  z-index: 3;
}



.offersTable{
position: relative;
margin: auto;
margin-top: 120px;
overflow: scroll;
padding-bottom: 500px;
width: 2000px;
}

.tableHeading {
position: relative;
background: #293462;
color: white;

}

/* babysitters' table */
#offersB {
    border: 1px solid black;
    position: relative;
    text-align:center;
    background: white;
    margin-bottom: 200px;
    font-size: 25px;
}

/* parents' table */
#offersP {
    border: 1px solid black;
    position: relative;
    background: white;
    margin-bottom: 200px;
}


#button {
    position:relative;
    font-size: 22px;
    margin-left: 10px;
}



.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }


/* on hover: request details appear */
  .requestDetails{
    display: none;
    background-color: white;
    border-radius: 25px;
    padding: 10px;
  }

  .requestNum:hover .requestDetails{
    display: block;
  }

/* on hover: babysitter profile appears */
  .babysitterProfile{
    padding: 2px 16px;
  }

  .babysitterPic{
    padding: 18px;
  }
  

  .babysitterProfile{
    display: none;
    overflow: scroll;
    background-color: white;
    border-radius: 25px;
    padding: 10px;
  }

  .babysitterPic:hover .babysitterProfile{
    display: block;
  }

  img.innerProfilePic{
      width: 75%;
      height: 150px;
    
  }

  /* on hover: offer details appear appear */
  .detailsBox{
    display: none;
    background-color: white;
    border-radius: 25px;
    padding: 10px;
  }

  .details:hover .detailsBox{
    display: block;
  }

  .details{
    font-size:22px;
  }



/* change the color when hover src:w3s*/
tr:hover {background-color: #d1e7f8;} 
#firstRow:hover {
    background-color:white
    
}


/* Nav Bar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #293462;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 35px;
}

li a:hover {
  background-color: #111;
}

pre{
  font-size: 25px;
}

/* alerts that appears, src:w3s*/
.danger {
  background-color: #ffdddd;
  border-left: 6px solid #f44336;
}

#info {
  color: #111;
  background-color: #e7f3fe;
  border-left: 6px solid #2196F3;
}

.footer{
  background: #eafcfa;
  padding: 20px;
  margin-bottom: 0;
  text-align: center;
  text-decoration: none; 
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 22px;
}


  
 




